/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-homepage-intro  {
  padding: 2rem;

  textarea {
    text-align: center;
    background-color: transparent;
  }
}
